<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.kibotu.mediagallery">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application>

        <activity
            android:name=".MediaGalleryActivity"
            android:configChanges="screenSize|orientation"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar.FullScreen" />

    </application>

</manifest>